# Pastas de cache do Python
__pycache__/
*.pyc

# Pasta de uploads temporários
temp_uploads/

# Bancos de dados gerados
# (É uma boa prática ignorá-los e gerá-los com o script)
measures.csv
users.json

# Pastas de ambiente virtual (se você usar)
venv/
.venv/
env/